<div id="user-card" class="col-lg-4 panel panel-default pull-left" >
  <div class="avatar pull-left" >
    <img src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity.image"   >
    <img src="assets/user_default.png" *ngIf="!identity.image"   >
  </div>
  <div class="name-surname " >
      <a href="#" class="username" [routerLink]="['/profile', identity._id]">
          {{ identity.name +' '+identity.surname}}
        </a>
        <p class="nickname" >
          {{identity.nick}}
        </p>
        <!-- <div class="clearfix"></div> -->
  </div>
  <div class="stats" *ngIf="stats">
    <div class="following-data" >
      <a href="">
        <span class="label-stats" >
          Siguiendo
        </span>
        <span class="number-stats" >
            {{ stats.following }}
        </span>
      </a>

    </div>
    <div class="following-data" >
        <a href="">
          <span class="label-stats" >
            Seguidores
          </span>
          <span class="number-stats" >
              {{ stats.followed }}
          </span>
        </a>

      </div>
      <div class="following-data" >
          <a href="">
            <span class="label-stats" >
              Publicaciones
            </span>
            <span class="number-stats" >
                {{ stats.publications }}
            </span>
          </a>

        </div>
  </div>
</div>

<div id="new-publication" class="col-lg-4 pull-left sidebar-32 panel panel-default" >
  <div class="alert alert-success" *ngIf="status == 'success'"  >
    Publicacion enviada
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'"  >
    Publicacion enviada
  </div>
  <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm);" class="col-lg-10" >
    <p>
      <label> Que estas pensando hoy?</label>
      <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required></textarea>
      <span *ngIf="!text.valid && text.touched"  >
        El texto es obligatorio
      </span>
    </p>
    <p>
      <label>Sube una imagen</label>
      <input type="file" name="file" #file="ngModel" [(ngModel)]="publication.file"  (change)="fileChangeEvent($event);" class="form-control" placeholder="Subir imagen">
    </p>
    <input type="submit" value="Publicar" class="btn btn-success" [disabled]="!newPubForm.form.valid && newPubForm.form.untouched">

  </form>
</div>
