<div class="col-lg-8" >
  <h1 class="h1-strong" >Publicaciones
    <button class="btn btn-warning btn-sm pull-right" (click)="refresh($event);" >Mostrar nuevas</button>
  </h1>

  <!-- <app-publications></app-publications> -->
  <div class="publications" >
    <div class="alert alert-danger" *ngIf="this.status == 'error'"  >
      {{ message }}
    </div>
    <div class="alert alert-info" *ngIf="this.status == 'info'"  >
      {{ message }}
    </div>

    <div *ngFor="let publication of publications" class="item-publication"  >
      <div class="panel panel-default" >
        <div class="panel-body" >
            <div class="image-user pull-left" >
                <a href="#" [routerLink]="['/profile', publication.user._id]">
                  <img src="{{ url + 'get-image-user/' + publication.user.image }}" *ngIf="publication.user.image"   >
                  <img src="assets/user_default.png" *ngIf="!publication.user.image"   >
                </a>
            </div>

          <div >
            <span [routerLink]="['/profile', publication.user._id]" >{{publication.user.name + ' ' + publication.user.surname}} </span>
            &nbsp;|&nbsp;
            <span class="date" >{{ (publication.created_at | amFromUnix ) | amLocale:'es' | amTimeAgo }}</span>
          </div>
          <div class="publication-text pull-left" >
            {{ publication.text }}
          </div>
          <div class="pull-right" *ngIf="publication.user._id === identity._id"  >
              <a href="#myModal{{publication._id}}" role="button" class="btn btn-large btn-danger" data-toggle="modal">
                  <span class="glyphicon glyphicon-trash" ></span>
                </a>
                <div id="myModal{{publication._id}}" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <p>Do you want to delelte this publication?</p>
                                <p>{{ publication.text }}</p>
                                <p class="text-warning"><small>The data will be lost.</small></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Nop</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deletePublication(publication._id)" >Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- <button class="btn btn-danger pull-right" (click)="deletePublication(publication._id);" >

              </button> -->
            </div>
        </div>

        <div class="publication-file" *ngIf="publication.file"  >

          <img src="{{ url + 'get-image-pub/' + publication.file }}" alt="">
        </div>
      </div>
    </div>
    <div class="col-lg-12 text-center" >
      <p>
        <button class="btn btn-success" (click)="viewMore();" *ngIf="!noMore"  >
            Ver mas publicaciones
          </button>
        </p>
    </div>


  </div>

</div>

<app-sidebar (sended)="refresh($event);" ></app-sidebar>


